body{
    background-color: #F3F3F3;
}
#heading{
    font-family: 'Nunito', sans-serif;;
    font-size: 40px;
    font-weight: 300;
    color: rgb(51,51,51);
    margin: 8px 0 0;
    padding-left: 21.3%;
}
#url{
    height: 50px;
    border-radius: 100px;
}
#copyRow{
    padding-top: 3%;
}

#url[placeholder]{
    font-size: 18px;
    padding-left: 25px;
}
#submit{
    color: #a9a9a9;
    font-size: 35px;
    position: absolute;
    left: -66%;
    top: 12%;
}
#shortLink{
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-block;
    border-bottom: 2px dotted rgb(170, 170, 170);
}
#shortLink:hover{
    color: #7C7C7C;
}
#copy{
    background: linear-gradient(to right, rgb(66, 165, 245), rgb(41, 121, 255));
    border-radius: 10px;
    color: white;
    padding: 5px 20px 5px 20px;
    box-shadow: rgba(66, 165, 245, 0.5) 0px 5px 6px;
    cursor: pointer;
    position: relative;
    top: -5px;
}
#copymsg{
    font-size: 16px;
    color: #1c7430;
}
#copymsgRow{
    padding-top: 0.5%;
}
@media screen and (max-width: 1200px) {
   #inputCol{
       margin-left:3.3% !important;
   }
    #submit{
        position: absolute;
        left: -75%;
        top: 14%;
    }
}
@media screen and (max-width: 992px) {
    #inputCol{
        margin-left:2% !important;
    }
    #submit{
        position: absolute;
        left: -101%;
        top: 14.5%;
    }
}

@media screen and (max-width: 768px) {

    #heading{
        font-size: 38px;
    }

    #headingCol{
        margin-left:-8% !important;
    }

    #inputCol{
        margin-left: 5% !important;
    }
    #submit{
        position: absolute;
        left: 1020%;
        top: -4200%;
    }

}
@media screen and (max-width: 575px) {

    #heading{
        font-size: 38px;
    }

    #headingCol{
        margin-left:-8% !important;
    }

    #inputCol{
        margin-left: 9.4% !important;
    }
    #submit{
        position: absolute;
        left: 438%;
        top: -4286%;
    }

}
@media screen and (max-width: 530px) {

    #heading{
        font-size: 208%;
    }

    #headingCol{
        margin-left:-5% !important;
    }

    #inputCol{
        margin-left: 10.4% !important;
    }
    #submit{
        position: absolute;
        left: 445%;
        top: -4286%;
    }

}
@media screen and (max-width: 360px) {

    #heading{
        font-size: 204%;
        padding: 0;
    }

    #headingCol{
        padding: 0;
        margin: 0;
        margin-left: 3.4% !important;
    }

    #inputCol{
        margin-left: 3% !important;
        padding: 0;
        padding-top: 4%;
    }
    #submit{
        position: absolute;
        left: 10%;
        top: 34.5%;
        font-size: 200%;
    }
    #url{
        width: 120%;
    }
    #copyRow{
        padding-top: 8%;
    }

}
