body{
    background-color: #F3F3F3;
}
#heading{
    font-family: 'Nunito', sans-serif;;
    font-size: 40px;
    font-weight: 300;
    color: rgb(51,51,51);
    margin: 8px 0 0;
}
#url{
    height: 50px;
    border-radius: 100px;
}

#url[placeholder]{
    font-size: 18px;
    padding-left: 25px;
}
#submit{
    color: #a9a9a9;
    font-size: 35px;
    position: absolute;
    left: -60px;
    top:5px
}
#shortLink{
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-block;
    border-bottom: 2px dotted rgb(170, 170, 170);
}
#shortLink:hover{
    color: #7C7C7C;
}
#copy{
    background: linear-gradient(to right, rgb(66, 165, 245), rgb(41, 121, 255));
    border-radius: 10px;
    color: white;
    padding: 5px 20px 5px 20px;
    box-shadow: rgba(66, 165, 245, 0.5) 0px 5px 6px;
    cursor: pointer;
    position: relative;
    top: -5px;
}
#copymsg{
    font-size: 16px;
    color: #1c7430;
}
#copymsgRow{
    padding-top: 0.5%;
}